<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <p>Task name : <%= link_to task.name, task_path(task.id) %></p>
  <p>DONE: <%= task.done == 1 ? "yes" : "no" %></p>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <p>--------------------</p>
<% end %>
